decorator==4.4.1
Django==2.0.3
django-js-asset==1.2.2
django-mptt==0.10.0
django-polymorphic==2.0.3
entrypoints==0.3
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.15.1
mccabe==0.6.1
parso==0.5.1
pbr==3.1.1
pickleshare==0.7.5
Pillow==5.0.0
pycodestyle==2.5.0
Pygments==2.5.2
pytz==2018.3
six==1.11.0
stevedore==1.28.0
traitlets==4.3.3
Unidecode==1.0.23
wcwidth==0.1.7