{% extends 'home.html' %}

{% block content %}

    <div class="row center-align">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-content">
                            <span class="card-title">{{ actividad_actual.title }}</span>
                            <p>{{ actividad_actual.name }}</p>
                        </div>
                        <div class="card-action">
                            <form method="post">
                            {% csrf_token %}
                                <div class="input-field col s12">
                                    <input id="{{ form.valor.html_name }}" type="text" name="{{ form.valor.html_name }}" value="{{ form.valor.value|default:'' }}">
                                    <label for="{{ form.valor.id_for_label }}">Respuesta:</label>
                                </div>
                                <button class="waves-effect waves-light btn-large" type="submit">Guardar</button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}